


    .boxicons {
        display: flex;
        flex-wrap: wrap;
        user-select:none;
        -moz-user-select:none;
        -webkit-user-select:none;
        height: 100%;
        overflow-y: scroll;
        position: relative;

    }
    .boxicons span {
        display: flex;
        padding: 5px;
        font-size: 30px;
        width: 60px;
        height: 60px;
        /*background: red;*/
        margin: 5px;
        justify-content: center;
        border-radius: 4px;
        border: 2px solid transparent;
    }
    .boxicons span:hover {
        border: 2px solid silver;

    }
    .cotainericons {
        height: 500px;
        display: flex;
        border-radius: 5px;
        border: 1px solid silver;
        /*padding: 4px;*/
        margin-bottom: 10px;
        padding-left: 0;

    }
    .boxicons h3 {
        flex-basis: 100%;
        color: #d61313;
        font-weight: lighter;
        font-size: 30px;
    }
    .naviicon {
        flex-basis: 30px; margin-right:  10px; display: flex; flex-direction: column;
        /*justify-content: center;*/

        align-self: stretch;
    }
